.formWrapper {display: flex;
              flex-direction: column;
              min-width: 300px;}

.formWrapper label {margin-bottom: 5px;}

.formWrapper input {margin-bottom: 15px; border-radius: 10px;}

.formWrapper button {border-radius: 10px; width: 90px; }
.formWrapper button:hover {background-color: rgb(0, 128, 0, 0.4); border-radius: 10px;  border-color: green;}
.formWrapper button:focus {background-color: green; color: whitesmoke; border-color: whitesmoke;}